DATASET_URL=https://huggingface.co/datasets/ManikaSaini/zomato-restaurant-recommendation
DATA_DIR=data
RAW_DATA_FILE=raw_zomato.csv
PROCESSED_DATA_FILE=processed_zomato.csv
LOG_LEVEL=INFO
GOOGLE_API_KEY=curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: AIzaSyAZUEVWXm5xh2NDmS-KSEnzf_09u5J2Cjc' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'
